@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Epilogue";
}

body {
  background-color: hsl(0, 0%, 98%);
}

header {
  padding: 26px 38px;
}

#navigation,
#nav-links,
#links-register {
  width: 100%;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: hsl(0, 0%, 41%);
  align-items: flex-start;
}

#links-register1 {
  display: none;
}

#log-regis {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  align-items: center;
  margin: -10px 0 0 0;
  color: hsl(0, 0%, 41%);
}

#logo {
  margin: 0 70px 0 0;
}

@media (min-width: 375px) {
  #menu {
    display: none;
  }
}

.link {
  margin-right: 40px;
  display: flex;
}

.relative {
  position: relative;
}

.options {
  padding: 26px;
  border-radius: 10px;
  color: hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 34px 2px #c9c9c9;
}

.featureOps {
  top: 30px;
  left: -80px;
  position: absolute;
}

.featureOps > div:not(:last-child) {
  margin: 0 0 14px 0;
}

#optionList > img {
  margin: 0 14px 0 0;
}

#optionList:nth-child(odd) > img {
  padding-left: 1.5px;
}

.companyOps {
  top: 28px;
  position: absolute;
}

.companyOps > div:not(:last-child) {
  margin: 0 0 14px 0;
}

#register {
  padding: 8px 16px;
  margin-left: 40px;
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 41%);
}

#hero main {
  display: flex;
  margin-top: 3.98rem;
  justify-content: center;
}

#heroLeft {
  width: 40%;
  margin: 5.5rem 0 0 4rem;
}

.link:hover {
  color: #000;
  cursor: pointer;
}

#optionList:hover {
  color: #000;
  cursor: pointer;
}

#heroRight img {
  width: 58%;
  float: right;
  margin-right: 8rem;
  @media (max-width: 1440px) {
    width: 68%;
  }
}
#heroHead {
  font-size: 5rem;
  color: hsl(0, 0%, 8%);
}

#heroHead span {
  display: block;
}

#phone {
  display: none;
}

#heroPara {
  width: 70%;
  margin: 30px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: hsl(0, 0%, 41%);
  @media (max-width: 1440px) {
    width: 78%;
  }
}

#heroRight {
  width: 45%;
  object-fit: cover;
}

#login:hover,
#register:hover {
  color: #000;
  cursor: pointer;
  border-color: #000;
}

#heroBtn {
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 18px;
  border-radius: 12px;
  margin-bottom: 8rem;
  color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 8%);
}

#heroBtn:hover {
  color: #000;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid #000;
  background-color: transparent;
}

#otherLogos {
  width: 72%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1440px) {
    width: 84%;
  }
}
.hide {
  display: none;
}
.arrowImg {
  margin: 0 0 0 10px;
  position: relative;
}

@media (max-width: 376px) {
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  nav {
    display: flex;
  }
  header {
    padding: 22px 14px 0 20px;
  }
  #nav-links,
  #log-regis {
    display: none;
  }
  #nav-links1,
  #log-regis1 {
    gap: 20px;
    height: 24%;
    width: 100%;
    display: flex;
    font-size: 14px;
    flex-direction: column;
  }
  #nav-links1 {
    top: 6rem;
    position: absolute;
  }
  #log-regis1 {
    top: 16rem;
    position: absolute;
    display: flex;
    align-items: center;
  }
  #close-menu:hover,
  #open-menu:hover {
    cursor: pointer;
  }
  #close-menu {
    top: 20px;
    right: 20px;
    position: absolute;
    display: none;
  }
  #nav-links1 {
    margin-left: 30px;
  }
  #links-register1 {
    top: 0;
    right: 0;
    width: 64%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: #ffffff;
  }
  #register {
    margin: 0;
    width: 80%;
    padding: 12px 0;
    text-align: center;
  }
  main {
    width: 100%;
    flex-direction: column-reverse;
  }
  #hero main {
    margin: 15px 0 0 0;
  }
  #heroLeft {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  #heroRight {
    width: 100%;
  }
  #heroPara {
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    line-height: 24px;
  }
  #otherLogos {
    width: 98%;
  }
  #otherLogos img {
    width: 78%;
  }
  #heroBtn {
    margin: 0 0 3rem 0;
  }
  #heroRight #phone {
    width: 100%;
    display: block;
    margin: 0 0 2rem 0;
  }
  #desktop {
    display: none;
  }
  #heroHead {
    font-size: 36px;
  }
  #heroHead span {
    display: inline;
  }
}
